
body{
font-family:Arial;
background:url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2") center/cover no-repeat;
color:white;
text-align:center;
margin:0;
}

.start{
margin-top:150px;
}

.startBtn{
padding:14px 30px;
font-size:18px;
background:#22c55e;
border:none;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

.startBtn:hover{
transform:scale(1.1);
}

.container{
display:none;
max-width:520px;
margin:50px auto;
background:#1e293b;
padding:25px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.top{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

#level{
background:#22c55e;
padding:4px 8px;
border-radius:6px;
}

.progress{
height:8px;
background:#475569;
border-radius:6px;
margin-bottom:12px;
}

#progress-bar{
height:8px;
width:0%;
background:#22c55e;
border-radius:6px;
transition:.4s;
}

#question{
animation:slideIn .4s;
}

button{
width:100%;
padding:12px;
margin:6px 0;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
transition:.2s;
}

button:hover{
transform:scale(1.05);
box-shadow:0 0 10px #22c55e;
}

.answer{
background:#334155;
color:white;
}

.correct{
background:#22c55e !important;
animation:pop .3s;
}

.wrong{
background:#ef4444 !important;
animation:shake .3s;
}

.restart{
background:#2563eb;
color:white;
}

#celebration{
font-size:40px;
margin:15px;
}

.win{
animation:bounce 1s infinite;
}

@keyframes pop{
0%{transform:scale(1)}
50%{transform:scale(1.2)}
100%{transform:scale(1)}
}

@keyframes shake{
0%{transform:translateX(0)}
25%{transform:translateX(-5px)}
50%{transform:translateX(5px)}
75%{transform:translateX(-5px)}
100%{transform:translateX(0)}
}

@keyframes slideIn{
from{opacity:0; transform:translateX(20px);}
to{opacity:1; transform:translateX(0);}
}

@keyframes bounce{
0%{transform:translateY(0)}
50%{transform:translateY(-15px)}
100%{transform:translateY(0)}
}